<style>
ul
{
    list-style-type: none;
}
</style>
<body>
<p>END-USER LICENSE AGREEMENT FOR JDJC &amp; FUZZYEYES LIMITED AND FOX TWO PTE. LTD. AND ADVANCE MOVING TECHNOLOGY DEVELOPMENT LIMITED</p>

<p>IMPORTANT! READ CAREFULLY:</p>

<p>THIS END-USER LICENSE AGREEMENT (“EULA” or “AGREEMENT”) IS A LEGAL AGREEMENT BETWEEN YOU (EITHER AN INDIVIDUAL OR A SINGLE ENTITY OR THE COMPANY ON WHOM BEHALF YOU ARE INSTALLING THE SOFTWARE (“YOU”) AND JDJC &amp; FUZZYEYES LIMITED AND FOX TWO PTE. LTD. AND ADVANCE MOVING TECHNOLOGY DEVELOPMENT LIMITED (collectively, “OPERATOR”) FOR THE OPERATOR PRODUCT, LATER REFERRED TO AS “THE SOFTWARE,” AS DEFINED BELOW.</p>

<p>THESE TERMS CONSTITUTE THE COMPLETE AND EXCLUSIVE AGREEMENT BETWEEN YOUAND OPERATOR, WHICH SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT, ORAL OR WRITTEN, AND ANY OTHER COMMUNICATION RELATING TO THE SUBJECT MATTER OF THESE TERMS.</p>

<p>THE SOFTWARE under this AGREEMENT is provided free of charge. </p>

<p><br />
</p>
<ol>
<li>
<p><b>AGREEMENT TO BE BOUND.</b> </p>

<p>By installing, copying, or otherwise using THE SOFTWARE, YOU agree to be bound by the terms of this EULA. This AGREEMENT represents the entire agreement concerning THE SOFTWARE and associated subject matter between YOU and OPERATOR. IF YOU DO NOT AGREE TO THE TERMS OF THIS EULA, PLEASE DO NOT INSTALL OR USE THE SOFTWARE. THE SOFTWARE is protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties. THE SOFTWARE is licensed, not sold. Please note: THE SOFTWARE is currently available within Apple App store. </p>
</li>
<li>
<p><b>DEFINITIONS.</b></p>

<p>When used in this AGREEMENT, the following terms shall have the respective meanings indicated, such meanings to be applicable to both the singular and plural forms of the terms defined: “THE SOFTWARE” means (i) all of the contents of the files, disk(s), CD-ROM(s) or other media with which this AGREEMENT is provided, including but not limited to (A) registration information; (B) related explanatory written materials or files (“Documentation”); and (C) Software setup files and code samples (if any); and (ii) upgrades, modified versions, updates, additions, and copies of THE SOFTWARE, if any, licensed to YOU by OPERATOR (collectively, “Updates”). “Use” or “using” means to access, install, download, copy or otherwise benefit from using the functionality of THE SOFTWARE in accordance with the Documentation. PRIVACY POLICY. YOU are required to provide your personal information to download THE SOFTWARE. YOU understand and agree that OPERATOR may access, preserve, and disclose your personal information and the contents of your account if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary to comply with legal process or protect the rights, property and/or safety of OPERATOR, its affiliates or the public. Personal information collected by OPERATOR may be stored and processed in which OPERATOR maintains facilities. </p>
</li>
<li>
<p><b>LICENSE GRANT</b></p>

<p>Subject to your compliance with this EULA, OPERATOR grants YOU a non-exclusive, limited, revocable, non-transferable license to use THE SOFTWARE solely as follows: THE SOFTWARE must be installed on a validly licensed copy of an operating system; YOU must use THE SOFTWARE for legal purposes only and in compliance with all applicable laws, including, without limitation, copyright and data protection laws; THE SOFTWARE may be installed and used by YOU on any number of systems; YOU may re-download THE SOFTWARE from Apple App Store, but may not copy and distribute THE SOFTWARE to any third-party. Without limiting the foregoing, YOU may not rent, lease, or sell THE SOFTWARE to anyone, nor otherwise directly benefit financially from your use or distribution of THE SOFTWARE; YOU may use THE SOFTWARE on more than one device at the same time; YOU can’t modify, adapt or translate THE SOFTWARE; OPERATOR may terminate this EULA if YOU fail to comply with the terms and conditions of this EULA. In such event, YOU must destroy all copies of THE SOFTWARE in your possession.</p>
</li>
<li>
<p><b>LICENSE RESTRICTIONS.</b></p>

<p>YOU acknowledge and agree to the following restrictions on your use of THE SOFTWARE under this EULA: YOU understand and agree that all information, data, text, software, music, sound, photographs, graphics, video, messages, tags, links or other materials (“Content”) uploaded to or transmitted via THE SOFTWARE, are the sole responsibility of the person from whom such Content originated. YOU are entirely responsible for all Content that YOU upload, post, email, transmit or otherwise make available via THE SOFTWARE. The following are considered “Prohibited Conduct” and YOU agree not to use THE SOFTWARE for such purposes: </p>

<ul>
<li><b>4.1</b> Uploading, posting, emailing, transmitting or otherwise making available any Content that is illegal, which includes, without limitation, Content that is libelous, that infringes a third-party’s trademark, trade secret, copyright or other proprietary rights that intentionally or unintentionally violating any applicable local, state, national or international law and any regulations having the force of law; </li>

<li><b>4.2</b> Without limiting the foregoing, uploading, posting, emailing, transmitting or otherwise making available any Content that is harmful, threatening, abusive, harassing, vulgar, obscene, invasive of another’s privacy, hateful, or racially, ethnically or otherwise objectionable content;</li>

<li><b>4.3</b> Impersonating any person or entity or falsely stating or otherwise misrepresenting your affiliation with a person or entity; </li>

<li><b>4.4</b> Uploading, posting, emailing, transmitting or otherwise making available any Content that YOU do not have a right to make available under contractual or fiduciary relationships; </li>

<li><b>4.5</b> Uploading, posting, emailing, transmitting or otherwise making available any unsolicited or unauthorized advertising, promotional materials, or any other form of solicitation; </li>

<li><b>4.6</b> Collecting or storing personal data about other Software users in connection with the prohibited conduct and activities set forth in the paragraphs above. </li>

<li><b>4.7</b> OPERATOR and its designees shall have the right, in their sole discretion to access such Content in order to protect OPERATOR and fulfill its legal obligations. </li>
</ul>
<p>OPERATOR may refuse to store or transmit, or may delete, any Content that is available via THE SOFTWARE that, in its sole discretion, violates this EULA, including Content that is or contains Prohibited Conduct. YOU acknowledge, consent and agree that OPERATOR has full right to access, preserve, reject, remove, suspend and disclose your account, contents and relative information. YOU acknowledge, consent and agree that if THE SOFTWARE contains or links to APP (Memory Capsule, aka Memcap) that OPERATOR and its designees have full right to record your GPS location, mobile number, email address and etc.</p>

<p>YOU understand that THE SOFTWARE and any files or processes embodied within THE SOFTWARE may include security components that permit digital materials to be protected at OPERATOR’s desirable location. And that use, store, remove, delete or promoting of these materials is subject to usage rules set by OPERATOR and/or content providers who provide content to the OPERATOR. THE SOFTWARE may enable YOU to link to third party websites. Any third party sites are not under the control of OPERATOR, and OPERATOR is not responsible for webcasting or any other form of transmission received from any third party websites. Any such link does not imply an endorsement by OPERATOR of any such sites.</p>
</li>
<li>
<p><b>INTELLECTUAL PROPERTY RIGHTS</b></p>

<p>This License does not transfer any intellectual property rights in or to THE SOFTWARE from OPERATOR to YOU. THE SOFTWARE and any copies that the YOU are authorized by OPERATOR to make under this AGREEMENT are the intellectual property of and are owned by OPERATOR and/or its licensors and suppliers;</p>
</li>
<li>
<p><b>DISCLAIMER OF WARRANTY. </b></p>

<p>THE SOFTWARE IS PROVIDED ‘AS IS’ AND OPERATOR EXPRESSLY DISCLAIMS ANY WARRANTIES ASSOCIATED WITH OR RELATING TO THE SOFTWARE, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO, ANY WARRANTIES OF MERCHANTABILITY, NONINFRINGEMENT, OR FITNESS OF A PARTICULAR PURPOSE. OPERATOR DOES NOT WARRANT THAT THE SOFTWARE WILL BE ERROR-FREE OR WITHOUT INTERRUPTION, NOR THAT ANY ERRORS WILL BE CORRECTED. OPERATOR DOES NOT WARRANT OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR COMPLETENESS OF ANY CONTENT CONTAINED WITHIN THE SOFTWARE. OPERATOR MAKES NO WARRANTIES RESPECTING ANY HARM THAT MAY BE CAUSED BY THE TRANSMISSION OF A COMPUTER VIRUS, WORM, TIME BOMB, LOGIC BOMB, OR OTHER SUCH COMPUTER PROGRAM. OPERATOR FURTHER EXPRESSLY DISCLAIMS ANY WARRANTY OR REPRESENTATION TO USERS OF THE SOFTWARE OR TO ANY THIRD PARTY.</p>
</li>
<li>
<p><b>LIMITATION OF LIABILITY. </b></p>

<p>OPERATOR shall have no liability with respect to the content of THE SOFTWARE or any part thereof, including but not limited to errors or omissions contained therein, libel, infringements of rights of publicity, privacy, trademark rights, business interruption, personal injury, and loss of privacy, moral rights or the disclosure of confidential information.</p>
</li>
<li>
<p><b>TERMINATION.</b></p>

<p>OPERATOR may terminate this AGREEMENT at any time, with or without cause. </p>
</li>
<li>
<p><b>NON-WAIVER. </b></p>

<p>If a portion of this AGREEMENT is held unenforceable, the remainder shall be valid. A party’s failure to exercise any right under this AGREEMENT will not constitute a waiver of (a) any other terms or conditions of this AGREEMENT, or (b) a right at any time thereafter to require exact and strict compliance with the terms of this AGREEMENT. </p>
</li>
<li>
<p><b>MISCELLANEOUS. </b></p>

<p>YOU acknowledge and agree that by clicking on the ACCEPT button or similar buttons or links as may be designated by OPERATOR to show your approval of any foregoing texts, YOU are entering into a legally binding contract. YOU hereby agree to the use of electronic communication in order to enter into this EULA and to the electronic delivery of notices, policies and other materials or information. Furthermore, YOU hereby waive any rights or requirements under any laws or regulations in any jurisdiction which require an original (non-electronic) signature or delivery or retention of non-electronic records, to the extent permitted under applicable mandatory law. This EULA is governed by the laws of Singapore.</p>
</li>
</ol>
<br>
<br>
<br>
</body>

