Change your password here <br>
<form action="<%= update_password_user_path(@user) %>" method="POST">
<%= render 'shared/error_messages', object: @user %>
<table>
<tr>
<td>Password:</td><td><input type="password" name="user[password]"> </td>
</tr>
<tr>
<td>Password confirmation:</td><td><input type="password" name="user[password_confirmation]"></td>
</tr>
</table>
<input type="hidden" value="<%= @user.remember_token %>" name="reset_password_token">
<input type="submit" value="Submit">
</form>
