<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<%= stylesheet_link_tag    "application", media: "all" %>

<meta name="viewport" content="width=device-width">

</head>
<body>


    <div class="reset-password-box">
        <h4>Change your password here</h4>
        <hr/>
        <form class="form-horizontal" action="<%= update_password_user_path(@user) %>" method="POST">
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="user[password]"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="passwordConfirmation">Confirm Password</label>
                <div class="controls">
                    <input type="password" id="passwordConfirmation" name="user[password_confirmation]"/>
                </div>
            </div>
            <input type="hidden" name="reset_password_token" value="<%= @user.remember_token %>" >
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Submit"  class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>

</html>
