<%= link_to avatar_image_tag(post_report.user), post_report.user %>
  <span class="user">
    <%= link_to post_report.user.name, post_report.user %>
  </span> <br>
<b>Category: </b>
<span class="user"><%= post_report.category %></span><br>
<b>Reason</b>
<span class="content"><%= post_report.reason %></span>
