<form action="/content_recommendation_config" method="post">
Friend Count Limit: <input type="text" name="FRIEND_COUNT_SEND_NOTIFICATION_LIMIT" value="<%=@friend_notification_limit%>"><br>
Follow Count Limit: <input type="text" name="FOLLOW_COUNT_SEND_NOTIFICATION_LIMIT" value="<%=@follow_notification_limit%>">
<input type="submit" value="Submit">
</form>
